@import "compass";

html, body {
    padding: 0;
    margin: 0;
}

body {
    width:auto;
    background: none;
    color:black;
}

footer, aside, .adsbygoogle {
    display:none;
}

a:link:after, a:visited:after {
    content: " [" attr(href) "] ";
}

code, pre, pre.prettyprint {
    background:none;
    border:none;
    padding:0;
    margin:0;

    & * {
        color:#000!important;
        font-weight:normal!important;
    }
}

pre, pre.prettyprint {
    margin:1em 0;
    padding:1em 0;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}
