@import "compass";
@import "icomoon";
@import "prettify";

html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    color:#444;
    background:#f7f7f7;
    padding: 1em 2em;
    margin: 0;
}

code, pre, pre.prettyprint {
    background:#ebebeb;    
    font-family: monospace, serif;
    font-size: 1em;
}

code {
    padding: 2px 4px;
    border:none;
}

pre, pre.prettyprint {    
    display: block;
    padding:1em 2em;
    margin:1em -2em;
    border:none;
    code {
        padding: 0;
        background:none;
        border:none;
    }
}

a {
    color:#356AA0;

    &:visited {
        color:#999;
    }
}

img {
    max-width:100%;
    cursor:pointer;

    &.noscale {
        max-width:none;
    }
}

.recent, .howto {
    @include float-left;
    width:50%;

    ul {
        padding-left:1.4em;
        margin-right:1em;
    }
}

footer {
    clear: both;
    text-align:center;
    margin-top:1em;
    padding-top:1em;
    @include clearfix;

    ul {
        @include inline-list;
    }

    nav {
        margin:1em auto;

        ul {
            li {
                margin: 0 .5em;
                
                a {
                    text-decoration:none;
                    @include transition-property(color);
                    @include transition-duration(.5s);
                    @include link-colors(#356AA0,#4096EE,#CC0000,#999999,#CC0000);

                    i {
                        font-size:2em;
                    }
                    span {
                        display:none;
                    }
                }
            }
        }
    }
}

@media print{
    html, body {
        padding: 0;
        margin: 0;
    }
    body{
        width:auto;
        background: none;
        color:black;
    }
    footer, aside {
        display:none;
    }
    a:link:after, a:visited:after {
        content: " [" attr(href) "] ";
    }
    code, pre, pre.prettyprint {
        background:none;
        border:none;
        padding:0;
        margin:0;
    }
    pre, pre.prettyprint {
        margin:1em 0;
        padding:1em 0;
        border-top:1px solid #000;
        border-bottom:1px solid #000;

        & * {
            color:#000!important;
            font-weight:normal!important;
        }
    }
}

@media only screen and (min-width:768px) and (max-width:959px){
    .recent, .howto {
        float:none;
        display:block;
        width:auto;
    }
}

@media only screen and (max-width:767px){
    .recent, .howto {
        float:none;
        display:block;
        width:auto;
    }
}
