@import "compass";
@import "normalize";

@include normalize;
@import "font-awesome";
@import "prettify";

body {
    color:#444;
    margin: 1em;
}
code, pre, pre.prettyprint {
    background:#f7f7f7;
    border:1px solid darken(#f7f7f7, 20%);
    @include border-radius(3px);
}
code {
    padding: 2px 4px;
}
pre, pre.prettyprint {
    padding:.5em;
    margin:1em -0.5em;
    code {
        padding: 0;
        background:none;
        border:none;
        @include border-radius(0);
    }
}


a {
    color:#356AA0;
}
a:visited {
    color:#999;
}

img {
    max-width:100%;
    cursor:pointer;

    &.noscale {
        max-width:none;
    }
}

.recent, .howto {
    @include float-left;
    width:50%;

    ul {
        padding-left:1.4em;
        margin-right:1em;
    }
}

footer {
    clear: both;
    text-align:center;
    border-top:1px solid #f7f7f7;
    margin-top:.5em;
    padding-top:.5em;
    @include clearfix;

    nav {
        margin:1em auto;
        ul {
            margin:1em auto;
            @include inline-list;

            a {
                text-decoration:none;

                i {
                    font-size:2em;
                }
                span {
                    display:none;
                }

                @include transition-property(color);
                @include transition-duration(.5s);
                @include link-colors(#356AA0,#4096EE,#CC0000,#999999,#CC0000);
            }
        }
    }
}

@media print{
    body{
        padding:0;
        margin:0;
        width:auto
    }
    footer, aside {
        display:none;
    }
    a:link:after, a:visited:after {
        content: " [" attr(href) "] ";
    }
    code, pre, pre.prettyprint {
        background:none;
        border:none;
        @include border-radius(0);
        padding:0;
        margin:0;
    }
    pre, pre.prettyprint {
        margin:0.5em 0;
        padding:0.5em 0;
        border-top:1px solid #000;
        border-bottom:1px solid #000;

        & * {
            color:#000!important;
            font-weight:normal!important;
        }
    }
}

@media only screen and (min-width:768px) and (max-width:959px){
    .recent, .howto, footer nav, footer aside {
        float:none;
        display:block;
        width:auto;
    }
}

@media only screen and (max-width:767px){
    .recent, .howto, footer nav, footer aside {
        float:none;
        display:block;
        width:auto;
    }
}
