<!-- Webconfig snippet for SharePoint 2013 -->
<httpModules>
  <add name="MinifyModule" type="MinifyModule.HtmlMinifierModule, MinifyModule Version=1.0.0.0, Culture=neutral, PublicKeyToken=bfdc8a4abddd6d5e" />
</httpModules>

<assemblies>
  <add assembly="MinifyModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=bfdc8a4abddd6d5e" />
</assemblies>